<div class="comment">
  <% @project.comments.each do |comment| %>
    <div class="alert alert-light">
      <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
    </div>
  <% end %>
</div>