<div class="submenu">
  <h1><%= t('.title') %></h1>
  <ul class="subnav nav-pills nav-stacked">
    <% Category.all.each do |category| %>
      <li class="nav-item">
        <%= link_to category.name, category, class: "nav-link #{'active' if current_page?(category_path(category)) || @project.present? && @project.category == category}" %>
      </li>
      <hr>
    <% end %>
  </ul>
</div>